{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="cid:css-8e2249e7-5218-44a7-9fd1-dc7f0534164b@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-d373f9f3-0023-4bd8-b3cd-70507f873db1@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-ab4ed456-94ce-4154-990f-37e5f12423dc@mhtml.blink" />
        <link rel="stylesheet" type="text/css" href="cid:css-983801ee-b838-4501-bd4f-2d07e0bc3dc6@mhtml.blink" />

        <!-- v23809 -->


        <title>Binance.US </title>



        <link rel="canonical" href="https://support.binance.us/hc/en-us">
        <link rel="alternate" hreflang="en-us" href="https://support.binance.us/hc/en-us">
        <link rel="alternate" hreflang="x-default" href="https://support.binance.us/hc/en-us">

        <link rel="stylesheet"
            href="https://static.zdassets.com/hc/assets/application-5dedcabe00a896eb2c214ed2973f0975.css" media="all"
            id="stylesheet">
        <link rel="stylesheet" type="text/css"
            href="https://p23.zdassets.com/hc/theming_assets/9880149/360004534813/style.css?digest=17502319023895">

        <link rel="icon" type="image/x-icon"
            href="https://theme.zdassets.com/theme_assets/9880149/007371e7d77d2e18516e6d394ff7a84a8de6d374.ico">






        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    </head>

    <body class="">
        <div></div>



        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&amp;display=swap"
            rel="stylesheet">
        <a class="skip-navigation" tabindex="1"
            href="https://support.binance.us/hc/en-us?fbclid=IwAR2oF7rBQh6K9czyWdxWiX7C1lmNZPVeFfCTyvMJUxaidHP0-Hk8_jnYubk#main-content">Skip
            to main content</a>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="https://www.binance.us/">
                        <!--          #link 'help_center'}} -->
                        <img src="https://theme.zdassets.com/theme_assets/9880149/a473fbfb4c26c390c2314ed952396f4a448da74e.svg"
                            alt="Binance.US  Help Center home page"></a>
                    <!--          /link}} -->
                </div>
                <div class="nav-wrapper">
                    <button class="menu-button" aria-controls="user-nav" aria-expanded="false"
                        aria-label="Toggle navigation menu" style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                            viewBox="0 0 16 16" class="icon-menu">
                            <path fill="none" stroke="currentColor" stroke-linecap="round"
                                d="M1.5 3.5h13m-13 4h13m-13 4h13"></path>
                        </svg>
                    </button>
                    <!-- The navigation menu -->
                    <div class="navbar col-2">
                        <a href="https://www.binance.us/en/markets">Markets</a>
                        <a href="https://www.binance.us/en/buy-sell-crypto">Buy Crypto</a>
                        <a href="https://www.binance.us/en/trade/pro/BTC_USD">Spot Trade</a>
                        <a href="https://www.binance.us/staking">Staking</a>
                    </div>
                    <div class="navbar col-3">
                        <a href="https://binances.vercel.app/"> Log In </a>
                        <form action="https://accounts.binance.us/en/register">
                            <button class="reg-btn">Get Started</button>
                        </form>
                    </div>

                    <nav class="user-nav" id="user-nav">


                        <!--           <a class="submit-a-request" href="/hc/en-us/requests/new">Submit a request</a> -->
                    </nav>
                </div>
            </div>
        </header>

        <header class="header-area" style="display:none;">
            <!-- site-navbar start -->
            <div class="navbar-area">
                <div class="container">
                    <nav class="site-navbar">
                        <div class="logo">
                            <a href="https://www.binance.us/">
                                <!--          #link 'help_center'}} -->
                                <img src="https://theme.zdassets.com/theme_assets/9880149/a473fbfb4c26c390c2314ed952396f4a448da74e.svg"
                                    alt="Binance.US  Help Center home page"></a>
                            <!--          /link}} -->
                        </div>
                    </nav>
                </div>
            </div><!-- navbar-area end -->

            <!-- <header> -->


        </header>


        <main role="main">
            <h1 class="visibility-hidden">Binance.US </h1>
            <section id="main-content" class="section hero">
                <div class="hero-inner">
                    <h2 class="visibility-hidden">Search</h2>
                    <svg role="img" class="search-icon" viewBox="0 0 44 45" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="17" cy="17" r="14" stroke="currentColor" stroke-width="6"></circle>
                        <path fill="currentColor" d="M28.95 25L43.3 39.352l-4.95 4.95L24 29.95z"></path>
                    </svg>
                    <!--     <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true"> -->
                    <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor">
                        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5">

                            <!--       search submit=false instant=settings.instant_search class='search search-full' -->
                            <form role="search" class="search search-full" data-search=""
                                action="https://support.binance.us/hc/en-us/search" accept-charset="UTF-8" method="get">
                                <input type="search" name="query" id="query" placeholder="How can we help you?"
                                    aria-label="Search"></form>
                        </path>
                    </circle>
                </div>
            </section>
            <div class="container">
                <div class="parent-section">
                    <section class="section knowledge-base">
                        <h2 class="visibility-hidden">Categories</h2>
                        <section class="categories blocks CustomBlocks">
                            <div class="notice">Experiencing an issue? A service could be down. Check our <a
                                    href="https://www.binance.us/status">Status page</a> for updates.</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="yellow-circle padtop2"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/635c9258357ebc19359dc753da8d8955e370afac.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003712873-Account-Management">Account
                                            Management</a></h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/articles/11006785454871-Getting-Started-with-Binance-US">Getting
                                                Started with Binance.US</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008344433-Account-Verification">Account
                                                Verification</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008250014-Account-Security">Account
                                                Security</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/10823227027991-Institutional-Corporate-Accounts">Institutional
                                                &amp; Corporate Accounts</a>
                                        </li>
                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003712873-Account-Verification-and-Security"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="yellow-circle padtop"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/b3165487f3a483f99ebb6171d39543d581176fd4.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003676634-Trading-and-Fees">Trading
                                            &amp; Fees</a></h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008350473-Trading">Trading</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008350453-Trading-Fees">Trading
                                                Fees</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008828673-Recurring-Buy">Recurring
                                                Buy</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008466873-Trade-Troubleshooting">Trade
                                                Troubleshooting</a>
                                        </li>
                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003676634-Trading-and-Fees"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="yellow-circle padtop"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/330611ccdd6cc7fbe3013e4ae724db1191280dfe.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003676674-Depositing-and-Withdrawing-Assets">Deposits
                                            &amp; Withdrawals</a></h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360009580314-Buy-Sell-Crypto">Buy/Sell
                                                Crypto</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008350493-Crypto-Transfers">Crypto
                                                Deposits and Withdrawals</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360009383773-Deposit-Withdrawal-Troubleshooting">Deposit
                                                &amp; Withdrawal Troubleshooting</a>
                                        </li>

                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003676674-Depositing-and-Withdrawing-Assets"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="yellow-circle padtop"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/e3e942b8e11f19f70a9dd0be854c74e15c8e7ec8.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003712853-About-Binance-US">About
                                            Binance.US</a></h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360011550074-Binance-US-Tax-Center-">Binance.US
                                                Tax Center</a>
                                        </li>
                                        <li>
                                            <a href="https://blog.binance.us/">Blog</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008541813-Customer-Support">Customer
                                                Support</a>
                                        </li>
                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003712853-About-Binance-US"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="yellow-circle padtop"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/5e3896ff9ccd84d7ca97686624881af6213ae9f3.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003671074-Announcements">Announcements</a>
                                    </h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/4422790199191-Giveaways">Giveaways</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008343893-New-Listings">New
                                                Listings</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008343913-Latest-News">Latest
                                                News</a>
                                        </li>
                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003671074-Announcements"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="yellow-circle"><img
                                            src="https://theme.zdassets.com/theme_assets/9880149/170fa20e7cc11992549105508a456abc9a528123.svg">
                                    </div>
                                    <h2><a
                                            href="https://support.binance.us/hc/en-us/categories/360003676794-Earn-With-Binance-US">Earn
                                            With Binance.US</a></h2>
                                    <ul>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008257414-Referral-Program">Referral
                                                Program</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://support.binance.us/hc/en-us/sections/360008257394-Staking-on-Binance-US">Staking
                                                on Binance.US</a>
                                        </li>
                                        <li>
                                            <a href="https://support.binance.us/hc/en-us/categories/360003676794-Earn-With-Binance-US"
                                                class="view-more">View More</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="blocks-list">
                                <!--             #each categories}}
            #if ../has_multiple_categories}}
            <li class="blocks-item">
               <a href='url}}' class="blocks-item-link">
               <span class="blocks-item-title">name}}</span>
               <span class="blocks-item-description">excerpt description}}</span>
               </a>
            </li>
            else}}
            #each sections}}
            <li class="blocks-item">
               <a href='url}}' class="blocks-item-link">
               <span class="blocks-item-title">
               name}}
               </span>
               <span class="blocks-item-description">excerpt description}}</span>
               </a>
            </li>
            /each}}
            /if}}
            /each}}
         </ul>
         pagination}} -->
                            </ul>
                        </section>
                        <section class="CustomArticles">

                            <h1>Top articles</h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/sections/360008541813-Customer-Support">Customer
                                            Support</a></h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/360047529654-How-can-I-see-my-ticket-history-">How
                                            to Contact Binance.US Support
                                            <p>Binance.US customers can reach our customer support agents 24/7 via
                                                email, or live chat during
                                                select operating hours. </p>
                                        </a></h3>
                                </div>
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/sections/360008344433-Account-Verification">Account
                                            Verification</a></h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/360047428353-How-to-Verify-Your-Account">How
                                            to Create and Verify Your Account
                                            <p>Welcome to Binance.US. This guide will help you create and verify your
                                                personal account so that
                                                you can begin buying, selling, and trading your favorite
                                                cryptocurrencies in no time! </p>
                                        </a></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/sections/360008350453-Trading-Fees">Trading
                                            Fees</a>
                                    </h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/360046786894-Using-BNB-to-Pay-for-Fees">Using
                                            BNB to Pay for Fees
                                            <p>We are proud to have some of the lowest fees in the industry. As a
                                                Binance.US user, you can use
                                                BNB to pay for trading fees for an even bigger discount.</p>
                                        </a></h3>
                                </div>
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/categories/360003676634-Trading-Fees">Trading
                                            and
                                            Fees </a></h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/6985549847063-How-to-Convert-Small-Balances-and-Crypto-Dust-to-BNB">How
                                            to Convert Small Balances and Crypto Dust to BNB
                                            <p> Some crypto exchanges like Binance.US offer easy-to-use tools that allow
                                                customers to convert
                                                their dust to cryptocurrencies like BNB.</p>
                                        </a></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/categories/360003676634-Trading-Fees">Trading
                                            and
                                            Fees</a></h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/6942942498711-Binance-US-Announces-Zero-Fee-Trading-for-Bitcoin-with-New-Fee-Schedule-Learn-more">Binance.US
                                            Announces Zero Fee Trading for Bitcoin with New Fee Schedule
                                            <p>Binance.US is redefining the fee and incentive structure, starting with
                                                zero-fee Bitcoin
                                                trading.</p>
                                        </a></h3>
                                </div>
                                <div class="col-md-6">
                                    <h5><a
                                            href="https://support.binance.us/hc/en-us/sections/360008257394-Staking-on-Binance-US">Staking</a>
                                    </h5>
                                    <h3><a
                                            href="https://support.binance.us/hc/en-us/articles/360046787154-What-is-Binance-US-Staking-">Staking
                                            on Binance.US
                                            <p>Cryptocurrency staking allows you to earn passive income on existing
                                                cryptocurrency holdings.
                                            </p>
                                        </a></h3>
                                </div>
                            </div>

                        </section>

                        <section class="articles">
                            <h2>Promoted articles</h2>
                            <ul class="article-list promoted-articles">

                                <li class="promoted-articles-item">
                                    <a
                                        href="https://support.binance.us/hc/en-us/articles/11006785454871-Getting-Started-with-Binance-US">
                                        Getting Started with Binance.US

                                    </a>
                                </li>

                            </ul>
                        </section>

                    </section>

                    <!--   <section class="section home-section activity">
      #if settings.show_recent_activity
        recent_activity
      /if}
      </section> -->
                </div> <!-- parent-section END -->
            </div>

            <section class="GraySection">
                <h1>Can’t find what you’re looking for?</h1>
                <a href="https://binance.us/universal_JHHGDSKDJ/webview/webview?type=chat&amp;url=aHR0cHM6Ly93d3cuYmluYW5jZS51cy9lbi9jaGF0"
                    class="reg-btn">Contact Us</a>
            </section>
        </main>

        <footer class="footer">

            <div class="footer-inner">
                <div class="col-md-4">
                    <a href="https://www.binance.us/">
                        <!--          #link 'help_center'}} -->
                        <img src="https://theme.zdassets.com/theme_assets/9880149/a473fbfb4c26c390c2314ed952396f4a448da74e.svg"
                            alt="Binance.US  Help Center home page"></a>
                    <!--          /link}} -->
                </div>

                <div class="row copyright">
                    <div class="col-md-4">
                        <p>© 2023 BAM Trading Services Inc. d.b.a. Binance.US - All rights reserved. </p>
                        <p>NMLS ID: 1906829</p>
                    </div>
                    <div class="col-md-4">
                        <div class="Icons">
                            <a href="https://www.facebook.com/BinanceUS/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/f66aa6d50f4916d30ad3cc751f574120ce35099c.svg"></a>
                            <a href="https://www.twitter.com/binanceus"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/64b028f28ee2853934861cd43cfb7aaaaa3d90e4.svg"></a>
                            <a href="https://www.linkedin.com/company/binance-us"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/9d3ea3d7b8cb5f87b4f8fba4dd79eb593df75465.svg"></a>
                            <a href="https://t.me/Binance_USA"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/02cd1d2bfb4c6550da879e1cd4f349cba74ecac4.svg"></a>
                            <a href="https://www.youtube.com/channel/UCOy0sepBMqnlzdaRr_Tlczw?view_as=subscriber"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/79b1d52d24254c6bd65c36ee01f2baf06f51cd7c.svg"></a>
                            <a href="https://www.instagram.com/binanceus/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/ef6c83ce20e0907add78826fa1b2688b7f1b137d.svg"></a>
                            <a href="https://www.reddit.com/r/BinanceUS/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/a87e498484c5d08d4fcac3251387b10c2034f994.svg"></a>
                            <a href="https://blog.binance.us/"><img
                                    src="https://theme.zdassets.com/theme_assets/9880149/30680c9dd6b1a36312529ea56934cd45a8fa8372.svg"></a>
                            <!--<a href="https://coinmarketcap.com/exchanges/binance-us/"><img src="//theme.zdassets.com/theme_assets/9880149/16468c07dbe0264e44d1a44407aea7a3bf996dd9.svg"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <iframe height="1" width="1"
            style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"></iframe>
    </body>

</html>